[Unit]
Description=smartRemotes-hogNode
After=network.target

[Service]
ExecStart=python3 -u /smartRemotes/nodes/hogNode/hogNode.py

[Install]
WantedBy=multi-user.target
