[Unit]
Description=smartRemotes mediaNode
After=network.target

[Service]
ExecStart=python3 -u /smartRemotes/nodes/zoneNode/zoneNode.py

[Install]
WantedBy=multi-user.target
