[Unit]
Description=smartRemotes-posix-Node
After=network.target

[Service]
ExecStart=/smartRemotes/imports/bt-ble/hogInput.exe --bt-dev=hci0

[Install]
WantedBy=multi-user.target
