[Unit]
Description=smartRemotes mediaNode
After=network.target

[Service]
ExecStart=python3 -u /smartRemotes/nodes/harmonyNode/harmonyNode.py livingRoom

[Install]
WantedBy=multi-user.target
