<head>

<style class='webRemote caseStyle'>
body {
	user-select: none;
	background: Gray;
}

Case {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 auto;
	margin-top: 4vh;
	width: 60vh;
	height: 92vh;
	background: Teal;
	border-style: none solid;
	border-width: 1vh;
	border-radius: 1.5vh;
	border-color: LightGreen;
}

@media (orientation: portrait) {
	Case {
		margin-top: 2.5vh;
		width: 90vw;
		height: 95vh;
		border-width: 2vh;
	}
}  

Skin, Filter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

Filter, Commands {
	margin-left: -.2%;
}

#Zone, #Category, #Skin {
	font-size: 1.8vh;
	width:50%;
	margin-left: .5vh;
	padding-top: .2vh;
	text-align: center;
	overflow: hidden;
	background: LightBlue;
}

#Skin {
	margin-right:.5vh;
}

Skin {
	width: 100%;
	height: 90%;
	margin: 5% 0;
}

Shortcuts.row {
	display: none;
	margin: 1vh 0;
}

Shortcuts.row[display] {
	display: flex;
}

Commands > .button {
	width: 20%;
	background: LightBlue;
    cursor: pointer;
}

Overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 30;
}

Overlay[open] {
	display: block;
}

Menu {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 30%;
	height: 70%;
	color: white;
	background: LightCoral;
  	font-weight: bold;
	font-size: 2.5vh;

	border: solid;
	border-color: Yellow;
	border-width: 1vh;
	border-radius: 4vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 20;
	-ms-transform: translate(-50%,-50%);
}

@media (orientation: portrait) {
	Menu{
		width: 80%;
		height: 90%;
	}
}

Option.title {
	margin-top: 1vh; 
	text-align: center;
	font-weight: bold;
}

Option.text {
	margin-top: 1vh; 
	text-align: center;
	font-size: 2vh;
}

Option.button {
	font-family: courier;
	margin: 3vh 0 0 3vh; 
}

Zones, Categories, Skins, Tasks, Notes {
	display: none;
}

.row {
	display: flex;
	flex-direction: row;
	height: 5vh;
	width: 100.5%;
	justify-content: space-around;
}

.row.headings, .row.commands {
	height: 2vh;
	line-height: 2vh;
	width: 100.5%;
	font-size: 1.8vh;
	font-weight: bold;
	background: LightGreen;
	text-align: center;
}

.row.filter {
	height: 2.4vh;
	width: 100%;
	margin-top: .2vh;
}

.row.headings > div {
	width: 30%;
}

.row.shortcuts {
	height: 3vh;
}

.row.shortcuts > .box {
	font-size: 2vh;
	font-weight: bold;
	line-height: 3.5vh;
	width: 20%;
}

.row.background1 > .button {
	background: Wheat;
}

.row.background2 > .button {
	background: Gold;
}

.row > .button.red {
	background: Red;
}

.row > .button.green {
	background: LightGreen;
}

.row > .button.yellow {
	background: Yellow;
}

.row > .button.blue {
	background: LightBlue;
}

.box {
	width: 30%;
	text-align: center;
	font-weight: bold;
	font-size: 2.5vh;
	line-height: 5vh;
}

.button {
    cursor: pointer;
	border-radius: 15vh;
}

Commands .button {
	border-radius: 0;
}

[hidden] {
    display: none !important;
}

[pressed] {
	background: Gray !important;
}
</style>
</head>
<body>
<Case>
	<Filter class="container">
		<div class="row headings">
			<div>ZONE</div>
			<div>SKIN</div>
		</div>
		
		<div class="row filter">
			<Code id="Zone">masterBedroom</Code>
			<Code id="Skin">Streaming</Code>
		</div>
	</Filter>
	
	<Skin class="container">
	</Skin>
	
	<Shortcuts class="row shortcuts">
		<div class="box button red" key="{"></div>
		<div class="box button green" key="}"></div>
		<div class="box button yellow" key="|"></div>
		<div class="box button blue" key=":"></div>
	</Shortcuts>
   
	<Commands class="row commands">
		<div class="button" key="[">INPUT</div>  
		<div class="button" key="DEVICE_POWER" targets=8>I/0</div>  
	</Commands>
</Case>

<Overlay>
	<Menu id="Options"></Menu>
</Overlay>
</body>

